.scoreCount {
  font-size: 70px;
  font-family: "Segoe UI";
  color: #1e8cdf;
  opacity: 0.4;
  position: relative;
  float: left;
  padding-top: 300px;
  text-align: center;
  user-select: none;
}
.parentClass {
  position: absolute;
  left: 22%;
}

.scoreCount.you {
  padding-right: 400px;
}

.scoreCount.enemy {
  padding-left: 400px;
}

@media screen and (max-width: 1400px) {
  .scoreCount {
    font-size: 6vw;
    padding-top: 0px;
  }
  .scoreCount.you {
    padding-right: 100px;
  }
  .scoreCount.enemy {
    padding-left: 100px;
  }
  .parentClass {
    position: absolute;
    left: 15%;
    top: 20%;
  }
}
